/* .landing-page{
  background-image: url('landing-page-bg.jpg');
} */
body{
  background-color: #E9A6A6;
}

 /* landing page  */
.landing-page{
  margin: 0 auto 0 auto;
  /* background-color: #F7F7F7; */
  background-image: url('/assests/landingbg.jpg') ;
  background-repeat: no-repeat;
}
.main-content{
  border-radius: 5px;
  /* background-color: #ECECEC; */
}

.gotocourse{
  /* margin-left: 120px; */
}
.cfc-card{
  /* padding-left: 100px; */
  padding-top:125px;
  font-family: cursive;
  padding-left: 125px;
  /* background-color: bisque; */
}
.card{
  background-color: bisque;
}
.card-body{
  align-items: center;
  text-align: center;
}
hr{
  width: 30%;
  height: 0;
  border-top: dotted;
  border-color: aqua;
  background-color: bisque;
  opacity: 1;
  /* text-align: center; */
}
.abhishek-pic{
  border-radius: 25px;
  padding: 55px , 55px , 0 , 55px;
}